@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100,300,400,500,600,700,800,900&display=swap');

/* font-family: 'Big Shoulders Text', cursive; */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
li {
	float: right;
  }
  
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 20px 25px;
	text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #111;
  }


.section-intro {
    height: 820px;
    background-image: url(Assets/heroimage.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-intro h1 {
    text-align: center;
    color: #ffffff;
    font-size: 4em;
    font-weight: 700;
}

.section-intro header {
    display: flex;
    flex: 4;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link-to-book-wrapper {
    flex: 1;
}

@media (min-width: 992px) {
	.col-md-3 {
		padding-left: 0;
		padding-right: 0;
	}
}

.happyhour {
	padding-top: 41px;
	padding-bottom: 45px;
	background-color: lightgrey;
	margin-bottom: 0;
}

.partytime {
	padding-top: 41px;
	padding-bottom: 45px;
	background-color: #F15A29;
}

#food {
	background-image: url("Assets/burger.jpg");
	background-size: cover;
	padding: 100px;
}

#drink {
	background-image: url("Assets/coffee.jpg");
	background-size: cover;
	padding: 100px;
}

#dessert {
	background-image: url("Assets/burger.jpg");
	background-size: cover;
	padding: 100px;
}

#dinner:hover,
#lunch:hover,
#breakfast:hover {
	color: #2c2c2c;
	opacity: 0.7;
	filter: alpha(opacity=70);
	/* For IE8 and earlier */
}

.about-section {
    display: flex;
    align-items: center;
    background-color: #f3f3f3c0;
    padding: 50px 30px;
}

.news-section {
	display: flex;
    align-items: center;
    background-color: #f3f3f3c0;
    padding: 50px 30px;
}
	

.location-section {
	display: flex;
	align-items: center;
	text-align: center;
    background-color: #ffffff;
    padding: 30px 20px;
}

.link-to-book {
    color: #ffffff;
    display: block;
    border: 2px solid #ffffff;
    padding: 5px 10px;
}

a.link-to-book:hover {
    background-color: #ffffff;
    color: #95999e;
    text-decoration: none;
}

.about-section p,
.about-section h3 {
    text-align: center;
    width: 60%;
    margin: auto;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 1.8em;
    text-transform: uppercase;
}

.carousel-inner {
    height: 700px;
}

.row-flex {
    display: flex;
    flex-direction: row;
}

.flex-column-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 30px 20px;
}

.btn.btn-primary {
    font-family: 'Big Shoulders Text', cursive;
    color: #ffffff;
    background-color: #95999e;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 10px;
    letter-spacing: 2px;
    border: 0;
}

.btn.btn-primary:hover {
    background-color: #747474;
}
.opening-time,
.contact-adress {
    flex: 1;
    margin: 30px 20px;
    font-size: 1.2em;
}

.form-group p {
    font-size: 1.2em;
}

.opening-time p span,
.contact-adress p span {
    display: block;
}

@media (min-width:577px) and (max-width: 800px) {

    .section-intro {
        height: 500px;
    }

    .about-section p,
    .about-section h3 {
        font-size: 20px;
    }

    .carousel-inner {
        height: auto;
    }

    .row-flex {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .section-intro {
        height: 300px;
    }

    .about-section {
        padding: 30px;
    }

    .section-intro h1 {
        font-size: 2em;
    }

    .about-section p,
    .about-section h3 {
        font-size: 15px;
    }

    .carousel-inner {
        height: auto;
    }

    .row-flex {
        display: flex;
        flex-direction: column;
    }

    .row-flex h3 {
        font-size: 25px;
        text-align: center;
    }

    .form-group p {
        font-size: 15px;
    }

    .opening-time p span,
    .contact-adress p span {
        font-size: 15px;
        text-align: center;
    }

}