
/* font-family: 'Big Shoulders Text', cursive; */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: while;
  }
  
li {
	float: right;
	min-width: 0px;
  }
  
li a {
	display: block;
	color: rgb(39, 39, 39);
	text-align: center;
	padding: 20px 25px;
	text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: rgb(219, 219, 219);
  }


.section-intro {
    height: 820px;
    background-image: url(Assets/heroimage.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-intro h1 {
    text-align: center;
    color: #ffffff;
    font-size: 4em;
    font-weight: 700;
}

.section-intro header {
    display: flex;
    flex: 4;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link-to-book-wrapper {
    flex: 1;
}

.section-middle {
    height: 820px;
    background-image: url(Assets/Cheese-Salad-Goat-Cheese-Starter-Figs-Food-1672505.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-middle h1 {
    text-align: center;
    color: #ffffff;
    font-size: 4em;
    font-weight: 700;
}

.section-middle header {
    display: flex;
    flex: 4;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-section {
    display: flex;
    align-items: center;
    background-color: #f3f3f3c0;
    padding: 50px 30px;
}


.link-to-book {
    color: #ffffff;
    display: block;
    border: 2px solid #ffffff;
    padding: 5px 10px;
}

a.link-to-book:hover {
    background-color: #ffffff;
    color: #95999e;
    text-decoration: none;
}

.about-section p {
	text-align: center;
    width: 60%;
    margin: auto;
    font-size: 1.2em;
    text-transform: none;
}
.about-section h3 {
    text-align: center;
    width: 60%;
    margin: auto;
    font-size: 1.9em;
    text-transform: none;
}

.row-flex {
    display: flex;
    flex-direction: row;
}

.flex-column-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 30px 20px;
}

.btn.btn-primary {
    color: #ffffff;
    background-color: #95999e;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 10px;
    letter-spacing: 2px;
    border: 0;
}

.btn.btn-primary:hover {
    background-color: #747474;
}
.opening-time,
.contact-adress {
    flex: 1;
    margin: 30px 20px;
    font-size: 1.2em;
}

.form-group p {
    font-size: 1.2em;
}

.opening-time p span,
.contact-adress p span {
    display: block;
}

@media screen and (max-width: 600px) {
    .section-intro {
        height: 300px;
	}
	
	.section-middle {
		height: 300px;
	}

    .about-section {
        padding: 30px;
	}

    .section-intro h1 {
        font-size: 2em;
	}
	
	.section-middle h1 {
		font-size: 2em;
	}

    .about-section p {
		font-size: 10px;
	}
    .about-section h3 {
        font-size: 15px;
    }

    .row-flex {
        display: flex;
        flex-direction: column;
	}
	
	.row-flex2 {
		display: flexbox;
		flex-wrap: wrap;
	}

    .row-flex h3 {
        font-size: 25px;
        text-align: center;
    }

    .form-group p {
        font-size: 15px;
    }

    .opening-time p {
		font-size: 15px;
        text-align: center;
	}
	.menu {
		height: 300px
	  }
}
  
  .menu {
	width: 50%;
	margin: 1em auto;
  }
  
  .group-header {
	float: right;
	font-weight: 700;
	width: 20%;
	margin: .7em 0 1em 0;
  }
  
  .container h3 {
	position: relative;
	font-weight: 700;
	margin: .7em 0 1em 0;
  }

  .container {
	  align-items: center;
	  text-align: center;
  }

  .bookatable {
	width: 50%;
	margin: 1em auto;
  }

  .bookatable h3 {
	  font-size: 20px;
  }

  input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
  }
  
  footer {
	text-align: center;
  }

