ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: while;
  }
  
li {
	float: right;
	min-width: 0px;
  }
  
li a {
	display: block;
	color: rgb(39, 39, 39);
	text-align: center;
	padding: 20px 25px;
	text-decoration: none;
  }
  
  /* Change the link color on hover */
li a:hover {
	background-color: rgb(219, 219, 219);
  }

 /* Create a section for hero banner for all pages */
.section-intro {
    height: 820px;
    background-image: url(Assets/hero.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-intro h1 {
    text-align: center;
    color: #ffffff;
    font-size: 4em;
    font-weight: 700;
}

.section-intro header {
    display: flex;
    flex: 4;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link-to-book-wrapper {
    flex: 1;
}

.about-section {
    display: flex;
    align-items: center;
    background-color: #f3f3f3c0;
    padding: 50px 30px;
}


.link-to-book {
    color: #ffffff;
    display: block;
    border: 2px solid #ffffff;
    padding: 5px 10px;
}

a.link-to-book:hover {
    background-color: #ffffff;
    color: #95999e;
    text-decoration: none;
}

.about-section p {
	text-align: center;
    width: 80%;
    margin: auto;
    font-size: 1.3em;
    text-transform: none;
}
.about-section h3 {
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 2em;
    text-transform: none;
}

.row-flex {
    display: flex;
    flex-direction: row;
}

.flex-column-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 30px 20px;
}

.btn.btn-primary {
    color: #ffffff;
    background-color: #95999e;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 10px;
    letter-spacing: 2px;
    border: 0;
}

.btn.btn-primary:hover {
    background-color: #747474;
}
.opening-time,
.contact-adress {
    flex: 1;
    margin: 30px 20px;
    font-size: 1.3em;
}

.form-group p {
    font-size: 1.3em;
}

.opening-time p span,
.contact-adress p span {
    display: block;
}
  
.menu {
    width: 50%;
	margin: 1.3em auto;
}

.responsive {
	max-width: 100%;
	height: auto;
}
  
.group-header {
	float: right;
	font-weight: 700;
	width: 20%;
    margin: .7em 0 1em 0;
}
  
.container h3 {
	position: relative;
	font-weight: 700;
	margin: .7em 0 1em 0;
}

.container {
    align-items: center;
    text-align: center;
}

.bookatable {
	width: 50%;
	margin: 1em auto;
}

.bookatable h3 {
	font-size: 20px;
}

input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}
  
.privacy {
	font-size: 11px;
}

footer {
	text-align: center;
	align-items: center;
}


 /* Responsive for small screens */
@media screen and (max-width: 600px) {
    .section-intro {
        height: 300px;
	}

    .about-section {
        padding: 30px;
	}

    .section-intro h1 {
        font-size: 2em;
	}

    .about-section p {
		font-size: 15px;
	}
    .about-section h3 {
        font-size: 20px;
    }

    .row-flex {
        display: flex;
        flex-direction: column;
	}

    .form-group p {
        font-size: 15px;
    }

    .opening-time p {
		font-size: 15px;
        text-align: center;
    }
    
    .opening-time h3 {
        font-size: 20px;
        text-align: center;
    }
	.menu {
		max-width: 100%;
        height: auto;
	  }
}






.Allocation,
.Allocation span,
.Timetable { 
    display:block
}
*
{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'Work Sans',sans-serif
}
.Timetable{
    position:relative;
    padding:20px
}
.Timetable tr,
.Timetable tr:nth-child(even){
    background:#2b173e
}
.Timetable 
.Timetable__table{
    width:100%;
    border-collapse:collapse
}
.Timetable 
.Timetable__table th{
    font-weight:300;height:100%
}
.Timetable 
.Timetable__table tbody th{
    border-right:1px solid #2b173e
}
.Timetable 
.Timetable__table tbody td{
    border:1px solid #2b173e
}
.Timetable 
.Timetable__table 
.Timetable__room,
.Timetable 
.Timetable__table 
.Timetable__time{
    background:#4f237a;
    color:#fff
}
.Timetable 
.Timetable__table 
.Timetable__room{
    border-bottom:1px solid #2b173e
}
.Timetable 
.Timetable__table 
.Timetable__time th{
    width:100px
}
.Timetable thead tr{
    background:0 0
}
.Timetable thead tr td,
.Timetable thead tr th{
    color:#fff;
    font-size:1.5em
}
.Allocation{
    border-radius:2px;
    background:#57b3e7;
    text-align:center;
    box-shadow:rgba(0,0,0,.34) 0 1px 3px;
    color:#fff;
    height:100%;
    min-height:100%
}
.Allocation.please{
    background:#e77f3f
}
.Allocation span
.Allocation__title{
    font-size:1.3em;
    font-weight:600
}
